/* General section */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'inter', sans-serif;
}

:root {
    --primary-bg-color: #FFFDF7;
    --secondary-bg-color: #F7F1EC;
    --primary-gray-color: #666666;
    --secondary-gray-color: #333333;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-primary {
    display: flex;
    background-color: var(--primary-gray-color);
    color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 77px;
    align-items: center;
    justify-content: center;
}

.btn-primary__smaller {
    width: 79.3%;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
}

header {
    border-bottom: 1px solid #F6F5F0;
}

header, footer {
    height: 80px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    gap: 80px;
}

footer {
    background: white;
    padding-right: 90px;
    justify-content: flex-end;
}

main {
    flex: 1;
}

figure img {
    object-fit: cover;
    width: 100%;
}

/* Homepage */

#welcome-section, #conviction-section, #values-section {
    display: flex;
}

#welcome-section img {
    width: 50.76%;
    max-height: 751px;
    object-fit: contain;
}

#welcome-section div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    background-color: #E8F0E3;
}

#welcome-section p {
    max-width: 362px;
}

#welcome-section h1 {
    margin-bottom: 28px;
}

#products-homepage h2 {
    margin: 32px 0;
}

#products-homepage .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-card {
    width: 100%;
    height: 692px;
}

.product-card img {
    height: 68.5%;
}

.product-card figcaption {
    display: flex;
    height:31.5%;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
    align-items: center;
}
.product-card figcaption h3 {
    margin-bottom:8px;
}
.product-card figcaption .short-description {
    margin-bottom:20px;
}
.product-card .price{
    margin-bottom:50px;
}

#conviction-section, #values-section {
    background-color: #EBE3D3;
}

#conviction-section div, #values-section div {
    margin: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    align-self: flex-end;

}

#conviction-section p, #values-section p {
    width: 425px;
}

#conviction-section img, #values-section img {
    width: 33.82%;
    max-height: 646px;
}

#values-section {
    background-color: #E8F0E3;
}

#values-section img {
    order: 1;
}

#values-section div {
    order: 2;
}

/* Product page */
#product-details figure {
    display: flex;
    gap: 120px;
    padding-right: 120px;
}

#product-details article img {
    width: 50.98%;
    min-height: 686px;
    object-fit: cover;
}

#product-details figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 85px;
}

#product-details figcaption h1 {
    margin-bottom: 24px;
}

#product-details figcaption h2 {
    margin-bottom: 50px;
}

#product-details figcaption h3 {
    margin-bottom: 10px;
}

#product-details figcaption p {
    white-space: pre-wrap;
}

#product-details figcaption form, #product-details figcaption a {: flex-end;
}

#product-details form input[type="number"] {
    width: 100%;
    height: 80px;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid var(--primary-gray-color);
}

/*Cart page*/

#cart-page {
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

#cart {
    width: 41.94%;
}

#cart-page #products-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 17px;
}

#cart-page #products-list figure {
    display: flex;
    height: 220px;
    width: 100%;
    background-color: var(--primary-bg-color);
    padding: 43px;
    gap: 55px;
    align-items: center;
}

#cart-page #products-list img {
    width: 142px;
    height: 132px;
}

#cart-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 38px;
    background-color: var(--primary-bg-color);
    width: 100%;
    height: 81px;
    margin-top: 5px;
    margin-bottom: 29px;
}

/*Account page*/

#account-page {
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

#account-page h1 {
    margin-bottom: 18px;
}

#account-page #orders-list, #account-page #account-links-container {
    width: 41.94%;
}

#account-page #orders-list, #account-page #account-links-container div {
    background-color: var(--primary-bg-color);
}

#orders-list {
    padding: 60px 60px 56px;
}

#account-links-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#account-page #account-links-container div {
    padding: 60px 63px;
}

#account-page #account-links-container div h2 {
    margin-bottom: 30px;
}

/* Styles généraux pour le tableau */
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

/* Styles pour les lignes de l'en-tête */
table thead tr {
    vertical-align: bottom;
}

/* Styles pour la première et la troisième colonne */
table td:nth-of-type(1), table td:nth-of-type(3) {
    width: 25%;
}

/* Styles pour la deuxième colonne (cellules et en-têtes) */
table td:nth-of-type(2), table th:nth-of-type(2) {
    width: 50%;
    padding-left: 10%;
}

/* Alignement à droite pour la troisième colonne des cellules */
table td:nth-of-type(3) {
    text-align: right;
}

/* Padding pour la troisième colonne des en-têtes */
table th:nth-of-type(3) {
    padding-left: 8%;
}

/* Style pour toutes les lignes du tableau */
table tr {
    border-bottom: 1px solid #CCCCCC;
    height: 68px;
}

/* Suppression de la bordure pour la dernière ligne */
table tr:nth-last-of-type(1) {
    border-bottom: none;
}

/* Signup and Login pages */

#signup-page, #login-page {
    display: flex;
    gap: 15px;
}

#signup-page img, #login-page img {
    width: 50.97%;
}

#signup-page section, #login-page section {
    flex-grow: 1;
    margin-top: 80px;
    padding: 0 114px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#signup-page section a, #login-page section a {
    align-self: center;
    margin-top: 25px;
}

#signup-page h2 {
    margin-bottom: 14px;
}

#signup-page input, #login-page input {
    background-color: inherit;
    height: 67px;
    width: 100%;
    outline: none;
    border: 1px solid #666666;
}

#signup-page form div, #login-page form div, #signup-page form, #login-page form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#signup-page form div, #login-page form div {
    gap: 10px;
}

#signup-page .cgu-checkbox {
    flex-direction: row;
    align-items: center;
}

#signup-page .cgu-checkbox input {
    width: 20px;
    height: 20px;
    order: 1;
}

#signup-page .cgu-checkbox label {
    order: 2;
}
