{% extends 'base.html.twig' %}

{% block title %}Rejoignez nous ! Green Goodies{% endblock %}

{% block body %}
    <main id="signup">
        <img src="{{ asset('/images/conviction.png') }}">
        {{ form_start(form,{
            attr:{
                class:'signup-form'
            }}) }}
        <h1>Inscription</h1>
        <h2>Tous les champs sont obligatoires</h2>
        {{ form_end(form) }}
    </main>
{% endblock %}
